{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="container">

        <div class="row" style="margin-top:20px;">
            <h3>List of todos</h3>
        </div>

        <div class="row">
            <div style="margin-top:20px;">
                <a href="{{ path('app_task_new') }}" class="btn btn-primary">Add a new task</a>
            </div>
        </div>
        <div class="row">
            <table class="table" style="margin-top:20px;">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }} {{ task.deleted }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.status }}</td>
                            <td>
                                <a href="{{ path('app_task_edit', {id: task.id}) }}" class="btn btn-primary">Edit</a>
                                <a href="{{ path('app_task_delete', {id: task.id}) }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}
